#/bin/sh -e
#
#

# Source debconf library.
. /usr/share/debconf/confmodule

#db_title "Print Quota/Accounting system for CUPS, PyKota"

db_input medium pykota/upgrading_1.23 || true
db_go

db_input medium pykota/upgrading_1.21alpha24 || true
db_go

db_input medium pykota/upgrading_1.19alpha24 || true
db_go

db_input medium pykota/upgrading_1.19alpha17 || true
db_go

db_input medium pykota/upgrading_1.19alpha10 || true
db_go
